.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.btn__menu{
    background-color: white;
    color: black;
    margin-right: 10rem;
}

.btn__menu:hover {
    color: black; 
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }
}